* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    margin: 0;
    font-family: Poppins, sans-serif;
    /* overflow: hidden; */
    background-image: url("./images/bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}